---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ service_name_proxy }}
  namespace: {{ namespace }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ service_name_proxy }}"}}'
