apiVersion: v1
kind: Secret
metadata:
  name: {{ prometheus_secret_name }}
  namespace: {{ namespace }}
  labels:
    mobile: enabled
stringData:
  name: {{ prometheus_secret_name }}
  type: {{ prometheus_secret_name }}
  uri: https://{{ prometheus_route.route.spec.host }}
