---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ item.name }}
  namespace: {{ namespace }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ item.name }}"}}'
