---
global:
  evaluation_interval: 15s
  scrape_interval: 15s

rule_files:
  - "/{{ prometheus_configmap_rules_name }}/*.rules.yaml"

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "{{ service_name_am }}:9093"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
        - 'localhost:9090'

  - job_name: '{{ namespace }}-pods'
    scrape_interval: 15s

    kubernetes_sd_configs:
    - api_server: 'https://kubernetes.default.svc'
      role: pod
      bearer_token: "{{ prometheus_sa_token }}"
      tls_config:
        insecure_skip_verify: true
      namespaces:
        names: ['{{ namespace }}']
