---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ resource_name }}
  namespace: {{ namespace }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"{{ resource_kind }}","name":"{{ resource_name }}"}}'
